@model IEnumerable<HMS_Team1_PRN211_SE1608.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.ReservationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
