@model IEnumerable<HMS_Team1_PRN211_SE1608.Models.Service>

@{
    ViewData["Title"] = "Index";
}


<div style="display: flex; justify-content: space-between; border-bottom: 1px solid black; margin-top : 30px;">
    <h2 style="color: #F68051">Services List</h2>
    <button style="margin-bottom: 5px" type="button" class="btn btn-primary">
        <a asp-action="Create" style="color: #ffff">Create New</a>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ỊmageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
           
               <img src=~/MyFiles/@item.ỊmageName/>
          
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>